{% extends 'base.html.twig' %}

{% form_theme formArticle  'bootstrap_4_layout.html.twig' %}

{% block body %}

	<a type="button" onclick="history.back()">&larr; return to Blog</a>

	<section class="get-in-touch">

		{% if editMode %}

			<h1 class="title">Modifier cet article:</h1>

		{% else %}

			<h1 class="title">Ajouter un article :</h1>

		{% endif %}

		{{form_start(formArticle, {'attr': {'class': 'contact-form row'}}) }}

		<div class="form-field col-lg-12 ">
			{{ form_widget(formArticle.category
			)}}
		</div>

		<div class="form-field col-lg-12 ">
			{{ form_label(formArticle.title, 'Title') }}
			{{ form_widget(formArticle.title
			)}}

		</div>

		<div class="form-field col-lg-12 ">
			{{ form_label(formArticle.content, 'Content') }}
			{{ form_widget(formArticle.content,{ 'attr': {'rows': '6'} }, { 'id': 'subject',  'attr': { 'class' : 'input-text js-input' }}
			)}}


		</div>


		<div class="form-field col-lg-12 ">

			{{ form_widget(formArticle.image, { 'id': 'subject',  'attr': { 'class' : 'input-text js-input' }}
			)}}
			{{ form_label(formArticle.image, 'Image', { 'label_attr': {'class': 'label'} }) }}

		</div>

		<button type="submit" class="button-create">

			{% if editMode %}

				Enregistrer

			{% else %}

				Ajouter

			{% endif %}

		</button>

	</section>


	{{form_end(formArticle)}}


{% endblock %}
