{% extends 'base.html.twig' %}

{% block title %}Destinations
{% endblock %}



{% block body %}

{{ include('/blog/navbar.html.twig') }}


	<div class="container">

		<div class="row">
			{% for article in articles %}
			
					<div class="blog-container col-md-3">

						<div class="blog-header">
							<div class="blog-author--no-cover">
								<h3>Issa Dia</h3>
							</div>
						</div>

						<div class="blog-body">
							<div class="blog-title">
								<a href="{{path('blog_show', {'id':article.id})}}">
									<h2>{{article.title}}</h2>
								</a>
								<img src="../../assets/images/{{article.image}}" class="img-fluid" alt="Responsive image">
							</div>
							<div class="blog-summary">
								<p>{{article.content |slice(0, 70)}}
									...
									<a href="{{path('blog_show', {'id':article.id})}}">
										Lire la suite</a>
								</p>
								<p></p>
							</div>
							<div class="blog-tags">
								<a>{{article.category.title}}</a>
							</div>
						</div>

						<div class="blog-footer">
							<ul>
								<li class="published-date">
									<p class="date">Ecrit le
										{{article.createdAt | date('d/m/Y')}}
										{{article.createdAt | date('H:i')}}
									</p>
								</li>
								<li>
									<a href="{{path('blog_edit', {'id':article.id})}}">
										<i class="fas fa-edit"></i>
									</a>
								</li>
								<li>
									<a href="{{path('blog_delete', {'id':article.id})}}">
										<i class="fas fa-trash-alt"></i>
									</a>
								</li>
							</ul>
						</div>

					</div>

			

			{% endfor %}
		</div>
	</div>

	{{ include('/blog/footer.html.twig') }}



{% endblock %}
